<template name="appLayout">
  {{> header }}
<div class="ui bottom attached main saetis segment pushable">
    <div class="fitted pusher">
       <div class="ui basic full height bottom attached clearing segment" 
      style="overflow-y: auto; overflow-x: hidden; background-color: #f5f5f5;">
          <div class="ui padded grid container">
            <div class="five wide column">
              {{> saetisMenu}}
            </div>
            <div class="eleven wide column">
              {{> yield }}
            </div>
          </div>
      </div>
    </div>
  </div>
</template>