<template name="notices">
  <h3 class="ui header">
    <i class="newspaper icon"></i>
    <div class="content">
      Avisos Empresa TIS
    </div>
  </h3>
  <div class="ui large feed">
    <div class="event">
      <div class="label">
        <i class="info circle icon"></i>
      </div>
      <div class="content">
        <div class="date">
          Hace 3 dias.
        </div>
        <div class="summary">
           Leticia Blanco: CP-TIS 2-2015
        </div>
        <div class="extra text">
          Convocatoria publica para la gestion 2-2015 sera publicada el dia Lunes.
        </div>
      </div>
    </div>
    <div class="event">
      <div class="label">
        <a href="#" class="borderless item">
          <i class="cloud download icon"></i>
        </a>
      </div>
      <div class="content">
        <div class="date">
          Hace 2 dias.
        </div>
        <div class="summary">
           Leticia Blanco: CP-TIS 2-2015 (Archivo Disponible)
        </div>
        <div class="extra text">
          Convocatoria publica para la gestion 2-2015 ya esta disponible.
        </div>
      </div>
    </div>
  </div>
</template>