<template name="webPagesList">
	<h3 class="ui header">
		<i class="world icon"></i>
		<div class="content">
  		Paginas Universitarias
		</div>
	</h3>
	<div class="ui relaxed divided list">
	  <div class="item">
	    <i class="large github middle aligned icon"></i>
	    <div class="content">
	      <a class="header">WEBSIS-UMSSS</a>
	      <div class="description">Sistema De Informacion San Simón</div>
	    </div>
	  </div>
	  <div class="item">
	    <i class="large github middle aligned icon"></i>
	    <div class="content">
	      <a class="header">CS-UMSS</a>
	      <div class="description">Carreras de Informática y Sistemas UMSS</div>
	    </div>
	  </div>
	  <div class="item">
	    <i class="large github middle aligned icon"></i>
	    <div class="content">
	      <a class="header">FCYT-UMSS</a>
	      <div class="description">Facultad De Ciencias y Tecnologia</div>
	    </div>
	  </div>
	  <div class="item">
	    <i class="large github middle aligned icon"></i>
	    <div class="content">
	      <a class="header">MOODLE2-UMSS</a>
	      <div class="description">Sistema Moodle2</div>
	    </div>
	  </div>
	</div>
</template>