<template name="saetisMenu">
<div class="ui left vertical sidebar menu" style="min-width: 250px;">
   <a class="item">
    <i class="home icon"></i>
    Administrar Grupo Empresas
  </a>
  <a class="item">
    <i class="book icon"></i>
    Documentos
  </a>
  <a class="item">
    <i class="tasks icon"></i>
    Tareas
  </a>
  <a class="item">
    <i class="checkmark icon"></i>
    Seguimiento Semanal
  </a>
  <a class="item">
    <i class="checkmark box icon"></i>
    Evaluacion
  </a>
  <a class="item">
    <i class="newspaper icon"></i>
    Publicaciones
  </a>
</div>
</template>