<template name="usersList">
  <h4 class="ui dividing header"> Usuarios </h4>
  <div class="ui basic segment">
    <table class="ui table">
      <thead>
        <tr>
          <th class="ten wide" >Nombre de usuario</th>
          <th class="six wide">Email</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{username}}</td>
            <td>{{getFirstEmail emails}}</td>
          </tr>
        {{/each}}
      </tbody>
      </table>
    </div>
</template>